/*001*/
body {
    background-color: #ffffff;
    color: #000000;
    display: grid;
    gap: 0.6em;
    grid-template-columns: repeat(3,0.6fr);
}

/*100*/
#calculadora {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(4,0.6fr);
    background-color: #e0eba4;
    color: #000000;
    border: 0.125em #000000 solid;
}

/*001*/
h2{
    grid-column: span 4;
    background-color: #ffffff;
    color: #000000;
}

form {
    grid-column: span 4;
    display: grid;
    gap: 2em;
    padding: 2em;
    grid-template-columns: repeat(4,0.6fr);
}

input {
    grid-column: span 1;
}

/*100*/
#pantalla {
    grid-column: span 4;
    height: 3em;
    font-size: 1em;
}